<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="body">
        <form id="wizard_with_validation" method="POST">
          <h3>Personal Details</h3>
          <fieldset>
            <div class="form-group form-float">
              <div class="form-line">
                <input type="text" class="form-control" name="username" required>
                <label class="form-label">Username*</label>
              </div>
            </div>
            <div class="form-group form-float">
              <div class="form-line">
                <input type="password" class="form-control" name="password" id="password" required>
                <label class="form-label">Password*</label>
              </div>
            </div>
            <div class="form-group form-float">
              <div class="form-line">
                <input type="password" class="form-control" name="confirm" required>
                <label class="form-label">Confirm Password*</label>
              </div>
            </div>
          </fieldset>

          <h3>Profile Information</h3>
          <fieldset>
            <div class="form-group form-float">
              <div class="form-line">
                <input type="text" name="name" class="form-control" required>
                <label class="form-label">First Name*</label>
              </div>
            </div>
            <div class="form-group form-float">
              <div class="form-line">
                <input type="text" name="surname" class="form-control" required>
                <label class="form-label">Last Name*</label>
              </div>
            </div>
            <div class="form-group form-float">
              <div class="form-line">
                <input type="email" name="email" class="form-control" required>
                <label class="form-label">Email*</label>
              </div>
            </div>
            <div class="form-group form-float">
              <div class="form-line">
                <textarea name="address" cols="30" rows="3" class="form-control no-resize" required></textarea>
                <label class="form-label">Address*</label>
              </div>
            </div>
            <div class="form-group form-float">
              <div class="form-line">
                <input min="18" type="number" name="age" class="form-control" required>
                <label class="form-label">Age*</label>
              </div>
              <div class="help-info">The warning step will show up if age is less than 18</div>
            </div>
          </fieldset>

          <h3>Terms & Conditions - Finish</h3>
          <fieldset>
            <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
            <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
          </fieldset>
        </form>
      </div>
  </div>
</div>


<%= simple_form_for @applicant do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :user_id %>
  <%= f.input :academic_year_id, as: :hidden, input_html: {value: AcademicYear.current.try(:id)} %>
  <%= f.input :title, label: 'Title', collection: ['Dr'] %>
  <%= f.input :user_id, as: :hidden,input_html: { value: current_user.id } %>
  <%= f.input :first_name %>
  <%= f.input :father_name %>
  <%= f.input :grand_father_name %>
  <%= f.input :gender, collection: ['Male', 'Female'] %>
  <%= f.input :date_of_birth, as: :string, input_html: {class: "datepicker"} %>
  <%= f.input :place_of_birth %>
  <%= f.input :marital_status, collection: ['Single', 'Married', 'Divorced'] %>
  <%= f.input :nationality %>
  <legend>Current Address</legend>
  <%= f.association :region %>
  <%= f.input :city %>
  <%= f.input :street %>
  <%= f.input :pobox %>
  <%= f.input :phone %>
  <hr/>

  <legend>Educational Background</legend>


  <%= f.association :program %>
  <%= f.association :university %>
  <%= f.input :university_type, collection: ['Public', 'Private'] %>
  <%= f.input :qualification %>
  <%= f.input :date_of_completion, as: :string, input_html: {class: "datepicker"} %>
  <%= f.association :applicant_type %>
  <%= f.association :exam_type %>

  <legend>Attachements</legend>
  <%= f.label :file %>
  <%= f.file_field :file %>

  <%= f.label :application_fee %>
  <%= f.file_field :file %>


  <%= f.label :two_passport_size_photos %>
  <%= f.file_field :file %>


  <!-- Needs for Disability -->

  <%= f.input :do_you_have_needs_for_disability %>
  <%= f.input :disability, collection: ["Pregnant", "other"] %>
  <%= f.input :accomodation_request, collection: ["hotel", "Normal House"] %>

  <!-- confirmations -->

  <%= f.input :i_understand %>
  <%= f.input :i_give_my_permission %>


  <hr/>
  <%= f.button :submit, 'Save and Continue', disable_with: 'Processing...' %>
<% end %>

