<%= simple_form_for @applicant, html: { id: "wizard_with_validation"} do |f| %>
  <%= f.error_notification %>
  <h3>Personal Details</h3>
  <fieldset>
  <%= f.full_error :user_id %>
  <%= f.input :academic_year_id, as: :hidden, input_html: {value: AcademicYear.current.try(:id)} %>
  <%= f.input :title, label: 'Title', collection: ['Dr'] %>
  <%= f.input :user_id, as: :hidden,input_html: { value: current_user.id } %>
  <%= f.input :first_name %>
  <%= f.input :father_name %>
  <%= f.input :grand_father_name %>
  <%= f.input :gender, collection: ['Male', 'Female'] %>
  <%= f.input :date_of_birth, as: :string, input_html: {class: "datepicker"} %>
  <%= f.input :place_of_birth %>
  <%= f.input :marital_status, collection: ['Single', 'Married', 'Divorced'] %>
  <%= f.input :nationality %>
  </fieldset>

<h3>Current Address</h3>
  <fieldset>
  <%= f.association :region %>
  <%= f.input :city %>
  <%= f.input :street %>
  <%= f.input :pobox %>
  <%= f.input :phone %>
  </fieldset>

  <h3>Educational Background</h3>
  <fieldset>
  <%= f.association :program %>
  <%= f.association :university %>
  <%= f.input :university_type, collection: ['Public', 'Private'] %>
  <%= f.input :qualification %>
  <%= f.input :date_of_completion, as: :string, input_html: {class: "datepicker"} %>
  <%= f.association :applicant_type %>
  <%= f.association :exam_type %>
  </fieldset>


  <h3>Attachements</h3>
  <fieldset>
  <%= f.label :file %>
  <%= f.file_field :file %>

  <%= f.label :application_fee %>
  <%= f.file_field :file %>

  <%= f.label :two_passport_size_photos %>
  <%= f.file_field :file %>

  </fieldset>
  <!-- Needs for Disability -->

  <h3>Terms and Conditions</h3>
  <fieldset>
  <%= f.input :do_you_have_needs_for_disability %>
  <%= f.input :disability, collection: ["Pregnant", "other"] %>
  <%= f.input :accomodation_request, collection: ["hotel", "Normal House"] %>

  <!-- confirmations -->

  <%= f.input :i_understand %>
  <%= f.input :i_give_my_permission %>

  </fieldset>
<% end %>

