    <div class="header">
        <h2>
            Applicants
        </h2>
    </div>
    <div class=" body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
          <tr>
            <th>#</th>
            <th>Registration ID</th>
            <th>Applicant Name</th>
            <th>Sex</th>
            <th>Institution</th>
            <th>Profession</th>
            <th>Exam Town</th>
            <th>Result</th>
            <th></th>

          </tr>
        </thead>

        <tbody>
          <% counter = 1 %>
          <% unless @applicants.blank? %>
            <% @applicants.each do |applicant| %>
              <tr>
                <td><%= counter %></td>
                <td><%= applicant.application_id %></td>
                <td><%= applicant.full_name %></td>
                <td><%= applicant.gender %></td>
                <td><%= applicant.university %></td>
                <td><%= applicant.program %></td>
                <td><%= applicant.exam_hub %></td>
                <td><%= applicant.grading_status %></td>
                <td><%= link_to 'Details', applicant %></td>
              </tr>
              <% counter += 1 %>
            <% end %>
          <% end %>
        </tbody>
      </table>

    <%= link_to 'Import Applicants', import_applicants_applicants_path, class: 'btn btn-primary' %>
    </div>