<%= simple_form_for(@program) do |f| %>
  <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :code %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
