<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email %>
    <%= f.input :password, as: :password, autocomplete: "off" %>
    <%= f.input :password_confirmation, as: :password, autocomplete: "off" %>
    <%= f.input :role, collection: User::ROLES %>
    <div id='institution'>
      <%= render partial: 'institution' %>
    </div>
    <hr/>
<div class="form-actions">
<%= f.button :submit, class: 'btn btn-primary' %>
</div>
<% end %>

