<p id="notice"><%= notice %></p>

<h1>Passing Marks</h1>

<table>
  <thead>
    <tr>
      <th>Academic year</th>
      <th>Program</th>
      <th>Passing mark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passing_marks.each do |passing_mark| %>
      <tr>
        <td><%= passing_mark.academic_year %></td>
        <td><%= passing_mark.program %></td>
        <td><%= passing_mark.passing_mark %></td>
        <td><%= link_to 'Show', passing_mark %></td>
        <td><%= link_to 'Edit', edit_passing_mark_path(passing_mark) %></td>
        <td><%= link_to 'Destroy', passing_mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passing Mark', new_passing_mark_path %>
