<%= content_for :header do %>
<div class="row clearfix">
  <% if current_user.admin? %>
      <%= link_to applicants_path do %>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-teal hover-expan-effect">
              <div class="icon">
                <i class="material-icons">people</i>
              </div>
              <div class="content">
                <div class="text">Applicants</div>
                <div class="number"><%= current_user.applicants.count rescue nil %></div>
              </div>
            </div>
          </div>
      <% end %>
      <%= link_to programs_path do %>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
              <div class="icon">
                <i class="material-icons">playlist_add_check</i>
              </div>
              <div class="content">
                <div class="text">Departments</div>
                <div class="number"><%= Program.count %></div>
              </div>
            </div>
          </div>
      <% end %>
      <%= link_to universities_path do %>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
              <div class="icon">
                <i class="material-icons">school</i>
              </div>
              <div class="content">
                <div class="text">Institutions</div>
                <div class="number"><%= University.count %></div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Applicants by Program by University
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
          <li role="presentation" class="active"><a href="#applicants_by_table" data-toggle="tab">Tabular</a></li>
          <li role="presentation"><a href="#applicants_by_graph" data-toggle="tab">Graphical</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="applicants_by_table">
            <%= render partial: '/applicants/applicants_by_program_by_university'  %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="applicants_by_graph">
            <%= column_chart applicants_by_program_by_university_applicants_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Applicants by Program by Status
      </div>
      <div class="panel-body">
        <%= simple_form_for :report, url:  applicants_status_applicants_path, remote: true do |f| %>
            <%=  f.input :program, collection: Program.all %>
        <% end %>
        <div id="applicants_status_report">
          <%= render partial: '/applicants/applicants_status'  %>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>
