<% if @search_button_clicked==true %>
  <% if !@applicant.blank? and !@applicant.exam.blank? and @applicant.exam.published %>
  <table class="table">
    <tr>
      <th>Full Name</th>
      <td><%= @applicant.to_s %></td>
    </tr>
    <tr>
      <th>University</th>
      <td><%= @applicant.university %></td>
    </tr>
    <tr>
      <th>Program</th>
      <td><%= @applicant.program %></td>
    </tr>

    <tr>
      <th>Exam Result (%)</th>
      <td><%= @applicant.exam.result_percentage %></td>
    </tr>
    <tr>
      <th>Status</th>
      <td><%= @applicant.license_result.result %></td>
    </tr>
  </table>
  <% else %>
   <h4 class="alert alert-warning"> No exam result found with this ID Number and Name</h4>
  <% end %>
<% else %>
<% end %>