<div class="header">
  <h2>
    Exam Results
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Registration ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>University</th>
      <th>Department</th>
      <th>Total Mark</th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |app| %>
      <tr>
        <td><%= app.application_id %></td>
        <td><%= app.full_name %></td>
        <td><%= app.user.email rescue nil %></td>
        <td><%= app.gender %></td>
        <td><%= app.university %></td>
        <td><%= app.program %></td>
        <td><%= app.exam.exam_result rescue nil %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>
  <%= link_to 'New Exam', new_exam_path, class: 'btn btn-primary' %>
  <%= link_to 'Import Exam Results', import_exam_exams_path, class: 'btn btn-primary' %>
  <%= link_to 'Grade Applicants', grade_applicants_path, class: 'btn btn-primary' unless @applicants.blank? %>
</div>
