<div class="header">
  <h2>
    Exam Results
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
  <tr>
    <th>Academic Year</th>
    <th>Application Number</th>
    <th>Applicant Name</th>
    <th>Exam Result</th>
    <th>Exam Out of</th>
    <th>Total/100</th>
  </tr>
    </thead>
    <% unless @exam.blank? %>
      <tr>
        <td><%= @exam.applicant.academic_year %></td>
        <td><%= @exam.applicant.id %></td>
        <td><%= @exam.applicant.full_name %></td>
        <td><%= @exam.exam_result %></td>
        <td><%= @exam.exam_out_of %></td>
        <td><%= @exam.total %></td>
      </tr>
    <% end %>
</table>
</div>