<%= simple_form_for(@university) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :short_name, label: 'Code' %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
